<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee registration</title>
</head>
<body>
<h1>Employee registration</h1>
<form action="/employee/registerEmployee" method="post">
  <div><label> User Name: <input type="text" name="username"/> </label></div>
  <br>
  <div><label> Phone: <input type="text" name="phone"/> </label></div>
  <br>
  <div><label> Email: <input type="text" name="email"/> </label></div>
  <br>
  <div><label> Password: <input type="password" name="password"/> </label></div>
  <br>
  <div><input type="submit" value="Register as an employee"/></div>
</form>
</body>
</html>