<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Applicant registration</title>
</head>
<body>
<h1>Applicant registration</h1>
<form action="/applicant/registerApplicant" method="post">
    <div><label> User Name: <input type="text" name="username"/> </label></div>
    <br>
    <div><label> Phone: <input type="text" name="phone"/> </label></div>
    <br>
    <div><label> Email: <input type="text" name="email"/> </label></div>
    <br>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <br>
    <div><input type="submit" value="Register as an applicant"/></div>
</form>
</body>
</html>