<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add CV</title>
</head>
<body>
<h3>Fill the following gaps:</h3>
<br>
<form action="/applicant/addCV" method="post">
    <div><label> Professional skills: <input type="text" name="skills"/> </label></div>
    <br>
    <div><label> Passport series: <input type="text" name="passportSeries"/> </label></div>
    <br>
    <div><label> Passport number: <input type="text" name="passportNumber"/> </label></div>
    <br>
    <div><label> Expected salary: <input type="text" name="expectedSalary"/> </label></div>
    <br>
    <div><input type="submit" value="Add CV"/></div>
</form>
</body>
</html>